<% layout('layouts/boilerplate') %>
<body>
    <h2 class="mt-3">You are here to edit this listing : </h2>
    <div class="row">
        <div class="col-8 offset-2">
            <form action="/listings/<%= listing._id %>?_method=PUT" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Your title is : </label>
                    <input type="text" name="title" placeholder="<%= listing.title %>" class="form-control">
                </div>
                
                <div class="mb-3">
                    <label for="title" class="form-label">Your image URL is : </label>
                    <input type="text" name="url" placeholder="<%= listings.image.url %>" class="form-control">
                </div>
        
                <div class="mb-3">
                    <label for="description" class="form-label">Your description is : </label>
                    <input type="text" name="description" placeholder="<%= listing.description %>" class="form-control">
                </div>
        
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="price" class="form-label">Your price is : </label>
                        <input type="number" name="price" placeholder="<%= listing.price %>" class="form-control">
                    </div>
            
                    <div class="mb-3 col-8">
                        <label for="country" class="form-label">Your country is : </label>
                        <input type="text" name="country" placeholder="<%= listing.country %>" class="form-control">
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="location" class="form-label">Your location is : </label>
                    <input type="text" name="location" placeholder="<%= listing.location %>" class="form-control">
                </div> <br>
        
                <button class="btn btn-dark edit-btn">Submit</button> <br>
            </form>
        </div>
    </div>
</body>